*.tex
*.pdf
*.log
*.toc
*.aux
Doc/
*.png
*.html
*.a
*.x
*.o
*.mod
make.sys
myconfigure.sh
version.f90.tmp
# QE:
*.xml
*.wfc*
*.igk*
calculations
*.swp
bin
espresso-5.2.0/PW/src/input_tmp.in
espresso-5.2.0/S3DE/README
espresso-5.2.0/S3DE/iotk/iotk
espresso-5.2.0/input_tmp.in
espresso-5.2.0/iotk
espresso-5.2.0/install
